<!DOCTYPE html>
<!-- HTML5であることを宣言 -->
<html lang="ja">
  <!--日本語であることを宣言-->
  <head>
    <meta charset="UTF-8" />
    <!--文字コード指定-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--CSSファイル読み込み-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='page1.css') }}"
    />
  </head>
  <body>
    <h1>1ページ目(時間割ページ)</h1>

    <p>時間割変更</p>
    {%if timetable%}
    <table>
      {%for timetable in timetable%}

      <tr>
        <td colspan="10" style="height: 20px"></td>
      </tr>

      <tr>
        <td>{{timetable["date"]}}</td>
      </tr>

      <tr>
        {% for time in range(4) %}
        <td>{{time+1}}コマ目</td>
        {%endfor%}
      </tr>

      <tr>
        {%for time in range(4)%}
        <td>{{timetable[time+1]}}　</td>
        {%endfor%}
      </tr>

      {%endfor%}
    </table>

    {%else%}
    <p>なし</p>
    {%endif%}
  </body>
  <script src="{{url_for('static',filename='main.js')}}"></script>
</html>
