# /etc/systemd/system/signage-stop.timer

[Unit]
Description=3ETU Signage Stop schedule (JST)

[Timer]
# 停止：月火水木金 08:50 / 13:00 / 19:00
OnCalendar=Mon,Tue,Wed,Thu,Fri *-*-* 08:50:00 Asia/Tokyo
OnCalendar=Mon,Tue,Wed,Thu,Fri *-*-* 13:00:00 Asia/Tokyo
OnCalendar=Mon,Tue,Wed,Thu,Fri *-*-* 19:00:00 Asia/Tokyo

Persistent=true
Unit=signage-stop.service

[Install]
WantedBy=timers.target