[Unit]
Description=Signage STOP (stop_kiosk.sh)
After=network-online.target lightdm.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/home/etupr-admin/Desktop/3etupr-signage/Automation/stop_kiosk.sh
User=root

[Install]
WantedBy=multi-user.target