[Unit]
Description=Signage START (start_kiosk.sh)
After=network-online.target lightdm.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/home/etupr-admin/signage/Automation/start_kiosk.sh
User=root

[Install]
WantedBy=multi-user.target