# /etc/systemd/system/signage-sleep.service

[Unit]
Description=3ETU Signage Sleep (disable devices/services for STOP state)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/bin/bash /home/etupr-admin/Desktop/3etupr-signage/Automation/etupr-sleep.sh
TimeoutStartSec=30
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target